src/main/resources/lc/pcInFilterDefTypes.xsd

<?xml version="1.0" encoding="UTF-8"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:bsf="http://xmlns.fja.com/ipl/bsf/types" xmlns:d0="http://xmlns.fja.com/ipl/ccshared/lb/types/types" xmlns:fndUtil="http://xmlns.fja.com/ipl/foundation/util/types" xmlns:pcInFilterDef="http://xmlns.fja.com/ipl/ccshared/lc/sc/pcinfilterdef/types" xmlns:util="http://xmlns.fja.com/ipl/util/types" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.fja.com/ipl/ccshared/lc/sc/pcinfilterdef/types">

  <xs:import namespace="http://xmlns.fja.com/ipl/foundation/util/types" schemaLocation="foundationUtilTypes.xsd"/>
  <xs:import namespace="http://xmlns.fja.com/ipl/util/types" schemaLocation="utilTypes_5_6_0.xsd"/>
  <xs:import namespace="http://xmlns.fja.com/ipl/bsf/types" schemaLocation="bsfTypes_5_6_0.xsd"/>
  <xs:import namespace="http://xmlns.fja.com/ipl/ccshared/lb/types/types" schemaLocation="lifeUtilTypes.xsd"/>
  <xs:element name="lvPcIn" type="pcInFilterDef:LvPcIn"/>
  <xs:complexType name="LvPcIn">
    <xs:annotation>
      <xs:documentation>Die Rows in Table lv repräsentieren einen oder mehrere Vertragsstände; temporal
        identifiziert durch das Field lvId. Die Vertragsstände sind von 1 beginnend durchnummeriert,
        wobei es auch Lücken geben darf. Welche Vertragsstände eine Row repräsentiert ist durch die
        Fields bearbId und bearbIdAbg determiniert.Constraint prv_kzprod: für Verträge muss es genau
        einemit kz_prod=1 geben.Constraint kzPF_jurVT: Wenn lv.pd.kzPF gesetzt ist, dann ist bei allen
        Vertragsteilen das Field vtTypPF gesetzt.Constraint lv_vt_tf_kzH_EXIST: Von den aktiven VTs
        eines Vertrags muss mindestens ein VT einen Tarif haben, der SLW_HT_H oder SLW_HT_W hat.Constraint
        lv_vt_vtTypPF_UNIQUE: Innerhalb jener Vertragsteile, denen ein Tarif mit SLW_HT_h zugeordnet
        ist, ist der vtTypPF UNIQUE.Constraint lv_mandantId: Wenn es in Table slw ein Schlüsselverzeichnis
        'mandantid' gibt (d.h. mindestens eine Row mit slvId = 'mandantid' case-insensitive), so muss
        lv.mandantId ungleich 0 sein.Constraint lv_pd_mandantId: Wenn lv.mandantId ungleich 0 ist, so
        muss pd.mandantId = lv.mandantId sein.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [hvGruppe, jurLV, partnerLV, vp, zulageVerlauf, pdId, generation, waehrungId, lvbegt, lvablt, lvJahrtag, zuzahlPol] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <xs:element minOccurs="0" name="localKeyEntityData" type="pcInFilterDef:LvPcInLocalKeyEntity"/>
      <xs:element minOccurs="0" name="hvGruppe" type="pcInFilterDef:HvGruppePcIn">
      </xs:element>
      <xs:element minOccurs="0" name="jurLV" type="pcInFilterDef:JurLVPcIn">
      </xs:element>
      <xs:element minOccurs="0" name="partnerLV">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="partnerLV" type="pcInFilterDef:PartnerLVPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vp">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vp" type="pcInFilterDef:VpPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="zulageVerlauf">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="zulageVerlauf" type="pcInFilterDef:ZulageVerlaufPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="pdId" type="d0:CVProduct">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifikation des Produkts, das dem LV-Vertrag zugeordnet ist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="generation" type="d0:CVProductTariffGeneration">
        <xs:annotation>
          <xs:documentation>Kennzeichnet die Generationenfolge grundsätzlich identischer Produkte oder Tarife im Zeitablauf</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="waehrungId" type="d0:CVSlvWaehrung">
        <xs:annotation>
          <xs:documentation>Das Attribut dient zur eindeutigen Identifizierung einer Währung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lvbegt" type="xs:date">
        <xs:annotation>
          <xs:documentation>Erster technischer Beginn des Vertrages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lvablt" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin des Vertrags</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lvJahrtag" type="xs:date">
        <xs:annotation>
          <xs:documentation>Hier wird der Jahrestag der Versicherung geführt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zuzahlPol" type="xs:double">
        <xs:annotation>
          <xs:documentation>Zuzahlung bei Policierung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="lvId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <!-- specific filterLocalKeyEntity for tree Lv -->
  <xs:complexType name="LvPcInLocalKeyEntity">
    <xs:annotation>
      <xs:documentation>specific filterLocalKeyEntity for Lv</xs:documentation>
    </xs:annotation>

    <xs:complexContent>
      <xs:extension base="util:LocalKeyEntityData">
        <xs:sequence>
          <xs:element minOccurs="0" name="beguenstId" type="xs:short"/>
          <xs:element minOccurs="0" name="dokNwId" type="xs:int"/>
          <xs:element minOccurs="0" name="hvGruppeId" type="xs:short"/>
          <xs:element minOccurs="0" name="vtId" type="xs:short"/>
          <xs:element minOccurs="0" name="vbId" type="xs:short"/>
          <xs:element minOccurs="0" name="drittrechtId" type="xs:int"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="HvGruppePcIn">
    <xs:annotation>
      <xs:documentation>Im Rahmen der bAV können unterschiedliche Zahlweisen für Arbeitgeber (AG) und Arbeitnehmer (AN)
        vorgegeben werden. Die notwendigen Informationen werden pro HV bzw. in einer hvGruppe geführt,
        die die eigentliche HV und die zugehörigen ZV zusammenfasst. Die hvGruppe entspricht bei
        Pensionsfondsprodukten der Vertragsschicht für den AG bzw. dem AN. Die Entität hvGruppe enthält
        die Zahlweise und alle sonstigen Größen, die für die HV und die zugeordneten ZV geführt werden
        müssen.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [kinderzulage, vt, btgProfilPara, vtId, zb, minBtg, btg, zweiInk, kzVorg, nvzb, hvTypId, hauptFaelligkeit, kzGrundzulage, pricingId, vorgabewert, gehZulBerech, gehZulBerSteig, gehZulBerBasjahr, kzBerufEinstBonus, kzBtgAnpassung, kzZulageBerVN, kzZulageBerEheg, eigenBtgEheg, eigenBtgBisJahr, eigenBtgEhegAbw, eigenBtgAbwJahr, btgProfil] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="kinderzulage">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="kinderzulage" type="pcInFilterDef:KinderzulagePcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vt">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vt" type="pcInFilterDef:VtPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="btgProfilPara">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="btgProfilPara" type="pcInFilterDef:BtgProfilParaPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="1" name="vtId" type="xs:short">
        <xs:annotation>
          <xs:documentation>Das Field vtId identifiziert zusammen mit dem Field lvId denVertragsteil, zu dem diese Row gehört.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Der je Ratenzahlungsabschnitt (tariflich) fällige Zahlbeitrag. Eine Beitragsreduktion aus überschußanteilen wird im Zahlbeitrag-Zahlweise nicht beachtet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="minBtg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Vereinbarter Mindestbeitrag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="btg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Vorgegebener Beitrag für die SST - Berechnung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zweiInk" type="d0:CVSlvZahlweise">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung einer Beitragszahlweise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzVorg" type="d0:CVSlvBerVorgabe">
        <xs:annotation>
          <xs:documentation>Bestimmt die Qualität der Vorgabe: z.B. Vorgabe der Leistung, des Beitrags oder der Ablaufleistung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="nvzb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Ratierlicher Netto-Zahlbeitrag auf Vertragsebene</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="hvTypId" type="d0:CVSlvVtGruppe">
        <xs:annotation>
          <xs:documentation>Hauptversicherungsgruppentyp</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="hauptFaelligkeit" type="xs:date">
        <xs:annotation>
          <xs:documentation>Hauptfälligkeit - wird produktabhängig bestimmt - enthält das Jahr des Versicherungsbeginns (wg. LF4).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzGrundzulage" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichen, ob Grundzulage eingerechnet werden soll oder nicht: 0 - Nein, 1 - Ja</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="pricingId" type="d0:CVSlvPricingVar">
        <xs:annotation>
          <xs:documentation>Pricing-Variante: globales Attribut zur Festlegung des Pricings (z.B. Haustarif)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vorgabewert" type="xs:double">
        <xs:annotation>
          <xs:documentation>Vorgegebener Wert für die SST - Berechnung.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gehZulBerech" type="xs:double">
        <xs:annotation>
          <xs:documentation>Sozialversicherungspflichtiges Vorjahresgehalt auf dessen Basis in der Modellrechnung der Mindesteigenbeitrag und ggf. eine Kürzung der Zulage ermittelt wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gehZulBerSteig" type="xs:double">
        <xs:annotation>
          <xs:documentation>Jährlicher Steigerungssatz für GehaltZulagenBerech</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gehZulBerBasjahr" type="xs:short">
        <xs:annotation>
          <xs:documentation>Jahr auf das sich GehaltZulagenBerech bezieht</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzBerufEinstBonus" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichen, ob der Berufseinsteigerbonus berücksichtigt werden soll</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzBtgAnpassung" type="d0:CVSlvBtgAnpassung">
        <xs:annotation>
          <xs:documentation>Kennzeichen, ob bzw. nach welcher Regel eine Beitragsanpassung in der Modellrechnung erfolgt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzZulageBerVN" type="d0:CVSlvZulageberechtigung">
        <xs:annotation>
          <xs:documentation>Kennzeichnung, ob der Versicherungsnehmer mittelbar oder unmittelbar zulageberechtigt ist</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzZulageBerEheg" type="d0:CVSlvZulageberechtigung">
        <xs:annotation>
          <xs:documentation>Kennzeichnung, ob der Ehegatte mittelbar oder unmittelbar zulageberechtigt ist</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgEheg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Eigenbeitrag des (unmittelbar zulageberechtigten) Ehegatten, auf dessen Basis in der Modellrechnung die Kürzung der Zulage für den mittelbar Zulageberechtigten geprüft wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgBisJahr" type="xs:short">
        <xs:annotation>
          <xs:documentation>Jahr, bis zu dem der Eigenbeitrag des (unmittelbar zulageberechtigten) Ehegatten bezahlt wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgEhegAbw" type="xs:double">
        <xs:annotation>
          <xs:documentation>Abweichender Eigenbeitrag des Ehegatten in einem Jahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgAbwJahr" type="xs:short">
        <xs:annotation>
          <xs:documentation>Jahr des abweichenden Eigenbeitrags des Ehegatten</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="btgProfil" type="d0:CVSlvBtgProfil">
        <xs:annotation>
          <xs:documentation>Kennzeichen zur Identifizierung eines Beitragsprofils</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="hvGruppeId" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="KinderzulagePcIn">
    <xs:annotation>
      <xs:documentation>Daten zur Riester-Kinderzulage</xs:documentation>
    </xs:annotation>
    <!-- all properties: [kindId, geburtsjahr, jahrLetzeZulage, zuordnung] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="geburtsjahr" type="xs:short">
        <xs:annotation>
          <xs:documentation>Geburtsjahr des Kindes</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="jahrLetzeZulage" type="xs:short">
        <xs:annotation>
          <xs:documentation>Jahr der letzten Zulage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zuordnung" type="d0:CVSlvZuordnung">
        <xs:annotation>
          <xs:documentation>Kennzeichnung, ob die Kinderzulage dem Vertrag des VN oder einem Vertrag des Ehegatten gutgeschrieben wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="kindId" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VtPcIn">
    <xs:annotation>
      <xs:documentation>Die Rows in Table vt repräsentieren einen oder mehrere Stände eines; temporal identifiziert durch die Fields lvId und vtId.Für welchediese Row gültig ist, wird durch die Fields bearbId und bearbIdAbg determiniert.Constraint kzrv_ISSET: wenn rvQuote oder rvId gesetzt sind, so ist auch kzRV gesetzt.Constraint pantsum: die Summe der prozentualen Anteile an Fonds müssen zusammen 1.0 ergeben, sofern der Vertragsteilstand überhaupt Fonds hat und nicht beitragsfrei istConstraint proz_antsum: die Summe der prozentualen Anteile der Provisionen müssen zusammen 1.0 ergebenConstraint vpVT_VP1: jeder Vertragsteil muss genau eine erstehaben, es sei denn, er hat keinen ZustandConstraint VP2: ein Vertragsteilstand muss eine VP2 haben, sofern derdies vorsieht.Constraint VP1_NE_VP2: VP1 und VP2 können nicht der selbe Partner sein.Constraint uebSatz_RANGE: uebSatz muss zwischen 0.0 und 1.0 sein, sofern dereine zweite versicherte Person vorsieht.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [jurVT, vb, vertschl, vpVT, vtLstg, tfId, generation, vtueb, ratzuId, uebSatz, uebVerwSys, uebVerwSysBfr, uebVerwSysLst, labl, gabl, bzabl, vtabl, optabl, rbeg, beginnVT, zweiExk, la1, la2, erhLaProz, vtuebverr, zb, rabattId, tbVarTyp, kofakAlpha, portfId, karenzzeit, flexbeg, la3, kzl1ra, kzl2ra, kzl3ra, lr1, lr2, lr3, antsatzFonds, garantieniveau, anlStratId, niveauGuthId, niveauBtgId, garGebuehrEntnTyp, gMxBOption, garGebuehrRelAbw, garGebuehrRel, garGebAbwTermin, kzVorgTfl, kzVorgLabl, kzVorgVtabl, dauerWartezeitJ, wzabl, abschlkoVar, kzBtgProfil, leistungsVarianteVP1, darlTilgSatz, darlZins, flexTeilverrentung, kzRentenWahlrecht, rentenoption, zielNiveauAblaufMmt, kzillness, kzAuLeistung] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="jurVT" type="pcInFilterDef:JurVTPcIn">
      </xs:element>
      <xs:element minOccurs="0" name="vb">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vb" type="pcInFilterDef:VbPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vertschl">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vertschl" type="pcInFilterDef:VertschlPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vpVT">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vpVT" type="pcInFilterDef:VpVTPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vtLstg">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vtLstg" type="pcInFilterDef:VtLstgPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="tfId" type="d0:CVTariff">
        <xs:annotation>
          <xs:documentation>Eindeutiger Identifikator eines LV-Tarifs</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="generation" type="d0:CVProductTariffGeneration">
        <xs:annotation>
          <xs:documentation>Kennzeichnet die Generationenfolge grundsätzlich identischer Produkte oder Tarife im Zeitablauf</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vtueb" type="xs:short">
        <xs:annotation>
          <xs:documentation>Jeder Vertragsteil (mit Ausnahme des 'obersten') hat genau einen übergeordneten Vertragsteil, wodurch sich eine Hierarchie von Vertragsteilen (und daher auch Tarifen) ergibt. Der 'oberste' Vertragsteil, von welchem es immer genau einen geben muß, wirdHauptversicherunggenannt.Da die Hauptversicherung im Laufe des Vertrags wechseln kann und dieser Wechsel revisionssicher sein sollte, ist vtueb keine Column der TablejurVT, sondern der Tablevt.Zusammen mit dem Field lvId identifiziert das Field vtueb temporal den übergeordneten Vertragsteil dieses Vertragsteilstandes, bei der Hauptversicherung zeigt vtueb auf sich selbst (d.h. vtId = vtueb).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ratzuId" type="d0:CVSlvRatenzuschla">
        <xs:annotation>
          <xs:documentation>Eindeutigen Identifizierung eines Ratenzu- oder -abschlag-Systems.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uebSatz" type="xs:double">
        <xs:annotation>
          <xs:documentation>Das Field uebSatz ist nur sinnvoll bei zwei versicherten Personen; es enthält den Satz (zwischen 0.0 und 1.0), auf den das Field la1 bei Tod des ersten Lebens reduziert werden soll.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uebVerwSys" type="d0:CVSlvUeberschuss">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines überschußverwendungssystems.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uebVerwSysBfr" type="d0:CVSlvUeberschussB">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines überschußverwendungssystems für die Beitragsfreie Zeit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uebVerwSysLst" type="d0:CVSlvUeberschussL">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines überschußverwendungssystems für die Rentenbezugszeit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="labl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin der Leistung bei BUZ / HZV</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gabl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin der Garantiezeit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="bzabl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Zu diesem Datum endet die planmäßige Beitragszahlung für den LV-Vertragsteil. Der Ablauf der Beitragszahlung kann vor, darf aber nicht nach dem Ablauf des Vertrags liegen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vtabl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Datum, zu dem der LV-Vertragsteil abläuft</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="optabl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Termin, an dem die flexible Ablaufphase endet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rbeg" type="xs:date">
        <xs:annotation>
          <xs:documentation>Rentenbeginntermin</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="beginnVT" type="xs:date">
        <xs:annotation>
          <xs:documentation>Beginn des Vertragsteils (Termin)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zweiExk" type="d0:CVSlvZahlweiseEx">
        <xs:annotation>
          <xs:documentation>Vertraglich vereinbarte Zahlweise der Leistungen für einen Vertragsteil.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="la1" type="xs:double">
        <xs:annotation>
          <xs:documentation>In der Tarifklasse Klassik-Kapital oder Risiko ist la1 die (anfängliche) Todesfallsumme, bei Rente oder BU die Jahresrente, bei FLV oder FRV die Mindesttodesfall-Leistung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="la2" type="xs:double">
        <xs:annotation>
          <xs:documentation>In der Tarifklasse Klassik-Kapital ist la2 die (abweichende) Erlebensfallsumme, bei Rente die Kapitalabfindung, bei FLV oder FRV die Mindestrisiko-Leistung, ansonsten ist la2 leer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="erhLaProz" type="xs:double">
        <xs:annotation>
          <xs:documentation>Beschreibt eine relative Erhöhung der LeistungBeispiel: Leistungssteigerung der BU-Rente während der Leistungspflicht</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vtuebverr" type="xs:double">
        <xs:annotation>
          <xs:documentation>Das Field vtuebverr enthält den Betrag, um den der ratierliche Zahlbeitrag pro Vertragsteilstand bei jeder Beitragszahlung reduziert wird.Das Field vtuebverr wird vomArbeitsschrittüberschussverwendung (Schritt-Id230 oder 231) in einem Vertragsteilstand gesetzt; der gesetzte Wert ist bis zum nächsten Arbeitsschritt überschussverwendung (für diesenVertragsteil) gültig, gleichgültig welche anderen Werte in dazischenliegenden Vertragsteilständen stehen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Der je Ratenzahlungsabschnitt (tariflich) fällige Zahlbeitrag. Eine Beitragsreduktion aus überschußanteilen wird im Zahlbeitrag-Zahlweise nicht beachtet.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rabattId" type="d0:CVSlvSammelrabatt">
        <xs:annotation>
          <xs:documentation>Identifizierung von Rabattsystemen über Schlüsselsysteme</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tbVarTyp" type="d0:CVSlvTarifvariante">
        <xs:annotation>
          <xs:documentation>Variante des Tarifbausteins, z.B. Standard oder Kollektiv</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kofakAlpha" type="xs:double">
        <xs:annotation>
          <xs:documentation>Hiermit können die rechnungsmäßigen Abschlußkosten von außen (also vertragsseitig) verändert werden</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="portfId" type="d0:CVSlvRisKlasse">
        <xs:annotation>
          <xs:documentation>Gibt die Art eines Portefeuilles an: frei wählbar - Sicherheit - Wachstum - Dynamik</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="karenzzeit" type="d0:CVSlvKarenzzeit">
        <xs:annotation>
          <xs:documentation>Karenzzeit bei BU-Versicherung in Monaten</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="flexbeg" type="xs:date">
        <xs:annotation>
          <xs:documentation>flexbeg ist das Datum, an dem die flexible Abrufphase beginnt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="la3" type="xs:double">
        <xs:annotation>
          <xs:documentation>Anfangstodesfallleistung bei Tarifen mit Leistungssprung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzl1ra" type="d0:CVSlvKzl1ra">
        <xs:annotation>
          <xs:documentation>Steuert, ob die Leistung 1 relativ oder absolut vorgegeben wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzl2ra" type="d0:CVSlvKzl1ra">
        <xs:annotation>
          <xs:documentation>Steuert, ob die Leistung 2 relativ oder absolut vorgegeben wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzl3ra" type="d0:CVSlvKzl1ra">
        <xs:annotation>
          <xs:documentation>Steuert, ob die Leistung 3 relativ oder absolut vorgegeben wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lr1" type="xs:double">
        <xs:annotation>
          <xs:documentation>relative Leistung 1</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lr2" type="xs:double">
        <xs:annotation>
          <xs:documentation>relative Leistung 2</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lr3" type="xs:double">
        <xs:annotation>
          <xs:documentation>relative Leistung 3</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="antsatzFonds" type="xs:double">
        <xs:annotation>
          <xs:documentation>Das Attribut antsatzFonds legt fest, welcher Teil des Beitrags, nach Abzug des Anteils für die klassische Reserve, in Fonds fließt. Damit ist auch festgelegt, welcher Anteil in das Ansammlungsguthaben eingezahlt wird. Die Aufteilung auf die Fonds erfolgt anhand der Entität vertschl.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="garantieniveau" type="xs:double">
        <xs:annotation>
          <xs:documentation>Niveau der Beitragsgarantie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="anlStratId" type="d0:CVSlvAnlagestrategie">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines Anlagestrategie-Typs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="niveauGuthId" type="d0:CVSlvVerlNiveauGuth">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines Anpassungsmodus für das Niveau der Guthabengarantie.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="niveauBtgId" type="d0:CVSlvVerlNiveauBtg">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines Anpassungsmodus für das Niveau der Beitragsgarantie</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="garGebuehrEntnTyp" type="d0:CVSlvGARGEBUEHR">
        <xs:annotation>
          <xs:documentation>Die Garantiegebuehr in absoluter Höhe wird von . garGebuehrRel und garGebuehrEntnahmeTyp und Einmalbeitrag oder Fondsvermögen festgelegt. garGebuehrEntnahmeTyp sagt auch aus, ob die Gebuehr einmal oder laufend entnommen wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gMxBOption" type="d0:CVSlvGMXB_OPTION">
        <xs:annotation>
          <xs:documentation>Zusaetzliche Optionen zu den Garantien GMxB.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="garGebuehrRelAbw" type="xs:double">
        <xs:annotation>
          <xs:documentation>garGebuehrRelAbw kann durch Vorgabe eines abweichenden Termins garAbwTermin oder direkt belegt werden. Falls garGebuehrRelAbw belegt ist, wird nicht die kalkulierte Gebuehr garGebuehrRel verwendet, sondern die spezifisch vorgegebene abweichende Garantiegebuehr.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="garGebuehrRel" type="xs:double">
        <xs:annotation>
          <xs:documentation>Die Garantiegebuehr ist eine einmalige oder laufende Gebuehr, die aus dem Beitrag oder dem Fondsvermögen entnommen wird um die vereinbarte Garantie zu finanzieren. Die Angabe ist relativ zum Einmalbeitrag oder relativ zum Fondsvermögen, je nach vt.garGebuehrEntnahmeTyp.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="garGebAbwTermin" type="xs:date">
        <xs:annotation>
          <xs:documentation>Normalerweise ist der Bearbeitungstermin als Grundlage für die Bestimmung der Garantiegebuehr zu verwenden, für besondere Fälle kann hier ein davon abweichender Termin vorgegeben werden. Dann wird auf Grundlage der Kapitalmarkdaten zu diesem Termin die Garantiegebuehr bestimmt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzVorgTfl" type="d0:CVSlvKzVorgTfl">
        <xs:annotation>
          <xs:documentation>Vorgabekennzeichen für die Art der Todesfallleistung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzVorgLabl" type="d0:CVSlvKzVorgAblauf">
        <xs:annotation>
          <xs:documentation>Kennzeichen für Vorgabe einer Leistungsdauer (0 = keine Vorgabesteuerung; 1 = abgekürzte Leistungsdauer; 2 = lebenslange Leistungsdauer)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzVorgVtabl" type="d0:CVSlvKzVorgAblauf">
        <xs:annotation>
          <xs:documentation>Kennzeichen für Vorgabe einer Versicherungsdauer (0 = keine Vorgabesteuerung; 1 = abgekürzte Versicherungsdauer; 2 = lebenslange Versicherungsdauer)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dauerWartezeitJ" type="d0:CVSlvWartezeit">
        <xs:annotation>
          <xs:documentation>Dauer der Wartezeit in Jahren</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="wzabl" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauf der Wartezeit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="abschlkoVar" type="d0:CVSlvAbschlusskostenVar">
        <xs:annotation>
          <xs:documentation>Variante der Abschlusskostenmodifikation</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzBtgProfil" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Das Kennzeichen legt fest, ob das Vertragsteil an dem (auf HvGruppe-Ebene festgelegten) Beitragsprofil teilnehmen soll oder nicht.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="leistungsVarianteVP1" type="d0:CVSlvLeistungsVariante">
        <xs:annotation>
          <xs:documentation>Gewählte Leistungsvariante</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="darlTilgSatz" type="xs:double">
        <xs:annotation>
          <xs:documentation>Tilgungssatz fuer Darlehen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="darlZins" type="xs:double">
        <xs:annotation>
          <xs:documentation>Zinssatz fuer Darlehen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="flexTeilverrentung" type="d0:CVSlvFlexPartialAnnuity">
        <xs:annotation>
          <xs:documentation>jährlich anteilige Verrentung des Fondsguthabens in %</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzRentenWahlrecht" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichen ob eine Rentenoption zu einem Vertragsteil ausgeübt wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rentenoption" type="d0:CVSlvRentenOption">
        <xs:annotation>
          <xs:documentation>Wert welche Rentenoption für den Vertagsteil ausgewählt wurde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zielNiveauAblaufMmt" type="xs:double">
        <xs:annotation>
          <xs:documentation>Zielniveau des Guthabenanteils in der Reserve zum Ende des Ablaufmanagements</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzillness" type="xs:int">
        <xs:annotation>
          <xs:documentation>Kennzeichen zur Steuerung, ob der Tarif eine Ausprägung zur 'illness' (terminal, critical, ...) bekommt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzAuLeistung" type="xs:int">
        <xs:annotation>
          <xs:documentation>Kennzeichen zur Steuerung, ob der Tarif eine Ausprägung zur AU-Leistung bekommt.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="vtId" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JurVTPcIn">
    <xs:annotation>
      <xs:documentation>Die Rows in Table jurVT repräsentieren jeweils genau einen Vertragsteil.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [avb1Id, wfrist, kzdyn, kzKapWahl, kzKWVereinb] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="avb1Id" type="d0:CVSlvAVB1">
        <xs:annotation>
          <xs:documentation>Erstes Schlüsselfeld für allgemeine Vertragsbedingungen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="wfrist" type="xs:short">
        <xs:annotation>
          <xs:documentation>Dieses Attribut enthält bei BUZ-Vertragsteilen die vertraglich vereinbarte Wartefrist für die Leistung bei Berufsunfähigkeit (Angabe in Monaten).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzdyn" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Das Kennzeichen legt fest, ob der Vertragsteil an der (auf Vertragsebene festgelegten) planmäßigen Erhöhung gemäß Dynamikvereinbarung teilnehmen soll oder nicht.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzKapWahl" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichnet die möglichen Optionen bei der Kapitalwahl</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzKWVereinb" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Vertragsvereinbarung über Kapitalwahl</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VbPcIn">
    <xs:annotation>
      <xs:documentation>vb</xs:documentation>
    </xs:annotation>
    <!-- all properties: [pbSum] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="pbSum" type="xs:double">
        <xs:annotation>
          <xs:documentation>Provisionsbeitragssumme-gesamt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="vbId" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VertschlPcIn">
    <xs:annotation>
      <xs:documentation>Prozentuale Verteilung der Zahlungsströme auf die FondsHistorie-streng: Attribute, die zur strengen Historienführung am Vertrag benötigt werdenVerteilungsschluessel: Angaben zur prozentualen Verteilung auf die Fonds</xs:documentation>
    </xs:annotation>
    <!-- all properties: [fondsId, pant, kzWertSicher] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="pant" type="xs:double">
        <xs:annotation>
          <xs:documentation>Proz. Anteil zu dem der Sparbeitrag in einen Fonds fliesst.Constraint pant_RANGE: die prozentualen Fondsanteile sind zwischen 0.0 und 1.0.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="fondsId" type="xs:int"/>
      <xs:element minOccurs="1" name="kzWertSicher" type="d0:CVSlvKzWertsicherung"/>
      <xs:element minOccurs="1" name="investType" type="d0:CVSlvInvestmentType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VpVTPcIn">
    <xs:annotation>
      <xs:documentation>Die in einem LV versicherten Personen werden den Vertragsteilen zugeordnet.Historie-streng: Attribute, die zur strengen Historienführung am Vertrag benötigt werdenVersicherte-Person-VT: Mit Hilfe dieser Entität werden die in einem LV-Vertrag versicherten Personen den Vertragsteilen zugeordnet, in denen sie versichert sind. Durch diese Modellierung wird ein Partner in seiner Rolle als versicherte Person nur einmal gespeichert, ist aber dennoch verschiedenen Vertragsteilen zugeordnet. Außerdem können Vorbehalte so zwar einer versicherten Person als solcher (für alle ihre Vertragsteile) zugeordnet werden (so wird es von der Benutzeroberfläche her umgesetzt), sie lassen sich jedoch auch (wie es fachlich korrekt ist) auf die in einem bestimmten Vertragsteil versicherte Person beziehen. Damit kann ein und derselbe Partner z.B. bei nachträglichem Einschluß einer Zusatzversicherung unterschiedliche Vorbehalte bekommen.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [risMerkmal, risSchaetz, vtPflege, rollenId, vpTypId, gebDat, sex, berufId, partnerIdExt] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="risMerkmal">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="risMerkmal" type="pcInFilterDef:RisMerkmalPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="risSchaetz" type="pcInFilterDef:RisSchaetzPcIn">
      </xs:element>
      <xs:element minOccurs="0" name="vtPflege">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="vtPflege" type="pcInFilterDef:VtPflegePcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="vpTypId" type="d0:CVSlvVpTypID">
        <xs:annotation>
          <xs:documentation>Eindeutige Identifizierung eines Typs von versicherter Person. Es gibt die Typen VP1(1) und VP(2).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gebDat" type="xs:date">
        <xs:annotation>
          <xs:documentation>Das Geburtsdatum ist der Termin, an dem die natürliche Person geboren wurde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sex" type="d0:CVSlvGeschlecht">
        <xs:annotation>
          <xs:documentation>Identifizierender Schlüssel für das Geschlecht einer natürlichen Person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="berufId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Eindeutiger Bezeichner fuer einen Beruf.
            (In der Standard Implementierung enthält dieses Attribut Werte aus der Enumeration CVSlvBeruf.
            Es wird aber im Core Modell als Spezialfall bewusst als Integer definiert,
            da die Wertemenge in Customer-Projekten häufig so groß ist, dass Sonderlösungen eingesetzt werden müssen.)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="partnerIdExt" type="xs:string">
        <xs:annotation>
          <xs:documentation>externe Darstellung der Identifikation eines Partners</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="partnerId" type="xs:int"/>
      <xs:element minOccurs="1" name="rollenId" type="d0:CVSlvPartnerrolle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RisMerkmalPcIn">
    <xs:annotation>
      <xs:documentation>Risiko-Merkmale sind personenbezogene Merkmale zur Einschätzung des Risikos.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [risMerkmalId, risMerkmalDate, risMerkmalDouble, risMerkmalInteger] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="risMerkmalDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Gibt den Wert des Risikomerkmals als Date an.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="risMerkmalDouble" type="xs:double">
        <xs:annotation>
          <xs:documentation>Gibt den Wert des Risikomerkmals als Double an.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="risMerkmalInteger" type="xs:int">
        <xs:annotation>
          <xs:documentation>Gibt den Wert des Risikomerkmals als Integer an.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="risMerkmalId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RisSchaetzPcIn">
    <xs:annotation>
      <xs:documentation>Die Risiko-Einschätzung ist das Ergebnis der Risikoprüfung auf der Grundlage der Risikobeschreibung.Historie-streng: Attribute, die zur strengen Historienführung am Vertrag benötigt werdenRisikoeinschaetzung: Die Risiko-Einschätzung ist das Ergebnis der Risikoprüfung auf der Grundlage der Risikobeschreibung. In der Risiko-Einschätzung werden die Informationen geführt, anhand derer geprüft werden kann, welches Risiko es darstellt, eine Person in der von ihr gewünschten Weise zu versichern. Die Risikoprüfung wird sowohl bei der Antragsprüfung als auch bei einer Erhöhung des Risikos durchgeführt. Die Risikoeinschätzung ist vertragsteilbezogen. D.h., sie gilt für eine Person, die durch einen bestimmten Vertragsteil versichert ist. Die Risikoprüfung kann zu Erhöhung des Beitrags, zu Ein-bzw. Ausschlüssen, zur Begrenzung des Endalters oder zur Ablehnung führen.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [rizumed, ablrizumed, rizuson, ablrizuson, rizuzus, ablrizuzus, uebsterb, staffelung, risikogruppe, berufsgruppe, herkunftId, risikoklasse, kzManuell] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="rizumed" type="xs:double">
        <xs:annotation>
          <xs:documentation>Beitragszuschlag, der aufgrund eines erhöhten gesundheitlichen Risikos vergeben wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ablrizumed" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin des medizinischen Risikozuschlags</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rizuson" type="xs:double">
        <xs:annotation>
          <xs:documentation>Beitragszuschlag, der aufgrund eines erhöhten sonstigen Risikos vergeben wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ablrizuson" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin der Risikozuschläge, die nicht medizinischer oder zusätzlich temporärer Art sind</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rizuzus" type="xs:double">
        <xs:annotation>
          <xs:documentation>Zusätzlicher sonstiger Risikozuschlag, der im Regelfall nur temporär gültig ist.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ablrizuzus" type="xs:date">
        <xs:annotation>
          <xs:documentation>Ablauftermin für den zusätzlichen temporären Risikozuschlag</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uebsterb" type="xs:double">
        <xs:annotation>
          <xs:documentation>Prozentangabe der übersterblichkeit. Dieser Wert geht in die Ermittlung der Ausscheidewahrscheinlichkeiten ein, auf deren Grundlage dann schließlich der erhöhte Beitrag berechnet wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="staffelung" type="xs:short">
        <xs:annotation>
          <xs:documentation>Angabe einer von der VP abhängigen linearen Leistungsstaffel bei Tod in den ersten Versicherungsjahren.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="risikogruppe" type="d0:CVSlvRisikogruppe">
        <xs:annotation>
          <xs:documentation>Eine Risikogruppe bezeichnet eine Gruppe von Risiken, die unter dem Gesichtspunkt der Risikoschätzung für eine versicherte Person gleichartig behandelt werden sollen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="berufsgruppe" type="d0:CVSlvBerufsgruppe">
        <xs:annotation>
          <xs:documentation>Eine Berufsgruppe bezeichnet eine Menge von Berufen, die unter dem Gesichtspunkt der Risikoschätzung gleichartig behandelt werden sollen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="herkunftId" type="d0:CVSlvRisSchaetzer">
        <xs:annotation>
          <xs:documentation>Klassifiziert die Herkunft von Informationen, z.B. der Risikoschätzung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="risikoklasse" type="d0:CVSlvRisikoklasse">
        <xs:annotation>
          <xs:documentation>Die Risikoklasse ist das Ergebnis der Risikoselektion. für eine versicherte Person bezogen auf den jeweiligen Tarif</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzManuell" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichen, ob die Risikoklasse vom Sachbearbeiter direkt erfasst wurde</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VtPflegePcIn">
    <xs:annotation>
      <xs:documentation>Speichert die am Vertragsteil für eine versicherte Person versicherten Leistungen je Pflegestufe, sowie das jeweilige Eintrittsdatum der einzelnen Pflegestufen</xs:documentation>
    </xs:annotation>
    <!-- all properties: [pflegeStufe, leistungsSatz, rang] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="leistungsSatz" type="xs:double">
        <xs:annotation>
          <xs:documentation>Bestimmt die Höhe der Leistung für die konkrete Pflegestufe in Prozent von der versicherten Jahresrente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="rang" type="xs:int">
        <xs:annotation>
          <xs:documentation>Rangfolge der Pflegestufe, eindeutig innerhalb vpVT</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="pflegeStufe" type="d0:CVSlvPflegeStufe"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VtLstgPcIn">
    <xs:annotation>
      <xs:documentation>Speicherung von Leistungen und Leistungsvorgabe je Leistungsart am Vertragsteil</xs:documentation>
    </xs:annotation>
    <!-- all properties: [lstgTyp, lstgWertAkt, lstgWertRel, vorgTyp, vorgWert, lstgProfil] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="lstgWertAkt" type="xs:double">
        <xs:annotation>
          <xs:documentation>Aktueller Leistungswert</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lstgWertRel" type="xs:double">
        <xs:annotation>
          <xs:documentation>Relativer Leistungswert</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vorgTyp" type="d0:CVSlvKzl1ra">
        <xs:annotation>
          <xs:documentation>Steuert, ob die Leistung relativ oder absolut vorgegeben wird</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vorgWert" type="xs:double">
        <xs:annotation>
          <xs:documentation>Leistungsvorgabe relativ oder absolut für die Berechnung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lstgProfil" type="d0:CVSlvLstgProfil">
        <xs:annotation>
          <xs:documentation>Leistungsprofil für die aktuelle Leistungsart</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="lstgTyp" type="d0:CVSlvBenefitType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BtgProfilParaPcIn">
    <xs:annotation>
      <xs:documentation>Enthält Parameter für ein Beitragsprofil</xs:documentation>
    </xs:annotation>
    <!-- all properties: [paraTyp, paraDouble, paraInt, paraDate] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="paraDouble" type="xs:double">
        <xs:annotation>
          <xs:documentation>Double-Parameter für das eingestellte Beitragsprofil</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paraInt" type="xs:int">
        <xs:annotation>
          <xs:documentation>Integer-Parameter für das eingestellte Beitragsprofil</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="paraDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>Date-Parameter für das eingestellte Beitragsprofil</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="paraTyp" type="d0:CVSlvBtgProfilPara"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="JurLVPcIn">
    <xs:annotation>
      <xs:documentation>Die Rows in Table jurLV repräsentieren jeweils genau einen Vertrag. Der 'Vertrag' kann aktiv oder abgegangen oder auch ein bearbeiteter oder abgelehnter Antrag sein; maßgebend dafür ist das Field lvStatus desjenigen zugehörigen, der die höchste Bearbeitungsnummer in Field bearbId hat.Constraint mandId_lvIdExt_UNI: Die Kombination ausundbilden nebem dem Primary Key auch eine eineindeutige Identifizierungsmöglichkeit.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [kzbAV, kzKapSt, lvIdExt, antrDat, dynId, satz, zykDynamik, kzDynZu] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="kzbAV" type="d0:CVSlvBAVKz">
        <xs:annotation>
          <xs:documentation>Kennzeichen für betriebliche Altersversorgung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzKapSt" type="d0:CVSlvSteuRecht">
        <xs:annotation>
          <xs:documentation>Kennzeichen für die Kapitalertragssteuer</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="1" name="lvIdExt" type="xs:string">
        <xs:annotation>
          <xs:documentation>Das Field lvIdExt ist die externe Identifikation eines Vertrags innerhalb des VUs. Extern bedeutet, daß lvIdExt für die Kommunikation zwischen VU und VN vorgesehen ist. lvIdExt wird vom VU vergeben.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="antrDat" type="xs:date">
        <xs:annotation>
          <xs:documentation>antrDat enthält das Datum, an dem derAntragerstellt wurde</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="dynId" type="d0:CVSlvDynamik">
        <xs:annotation>
          <xs:documentation>Qualität der Dynamikvereinbarung gemäß Schlüsselsystem</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="satz" type="xs:double">
        <xs:annotation>
          <xs:documentation>Fest vereinbarter Prozentsatz, um den sich die Bezugsgröße (z.B. Zahlbeitrag) erhöhen soll.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zykDynamik" type="xs:short">
        <xs:annotation>
          <xs:documentation>Planmäßiger Zyklus der dynamischen Anpassungen in Jahren</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzDynZu" type="d0:CVSlvKzDynZu">
        <xs:annotation>
          <xs:documentation>Kennzeichen, zu welchem Zeitpunkt dynamisiert werden soll (Hauptfälligkeit, erste Fälligkeit ....)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnerLVPcIn">
    <xs:annotation>
      <xs:documentation>Partner werden einzelnen Verträgen bzw. Vertragsteilen zugeordnet. Dabei wird auch festgehalten, welche Rolle er spielt.Beitragszahler: Der Beitragszahler ist ein Partner zum LV-Vertrag, der die Beiträge bezahlt. Der Beitragszahler kann vom Versicherungsnehmer abweichen.Drittberechtigter: Der Drittberechtigte (z.B. Vormund, Pfandgläubiger) ist ein Partner, der ein berechtigtes Interesse an einer Leistung aus dem Versicherungsvertrag hat. Dabei kann es sich z.B. um eine Abtretung oder um eine Pfändung handeln. In diesem Fall nennt man den Partner auch Zessionar.Leistungsempfaenger: Der Leistungsempfänger ist ein Partner, der vertraglich vereinbarte Leistungen bezogen auf einen LV-Vertragsteil erhält (z.B. Rentenempfänger). Im Unterschied zum Bezugsberechtigten werden hier die Empfänger regelmäßig wiederkehrender Leistungen geführt.Partner-Vertrags-Beziehung: über diese Entität werden Partner einzelnen Verträgen bzw. Vertragsteilen zugeordnet. Dabei wird auch festgehalten, welche Rolle ein Partner im jeweiligen Vertrag / Vertragsteil spielt.Versicherungs-Nehmer: Der Versicherungsnehmer (VN) ist der Partner, der den LV-Vertrag abgeschlossen und somit alle Rechte und Ansprüche daraus hat (rechtlicher Vertrags-Partner des Versicherungsunternehmens).Vorauszahlung-Empfaenger: Der Partner, an den die Vorauszahlung ausbezahlt wird. Zu jeder Vorauszahlung muß es immer einen Vorauszahlungsempfänger geben.Zustell-Adressat: Eine Partner-Beziehung in der Rolle des Zustelladressaten muß eine Partner-Adresse zugeordnet haben, über die in Vertragsangelegenheiten mit dem jeweiligen Partner korrespondiert wird.Zustell-Bevollmaechtigter: Eine Partner-Beziehung in der Rolle des Zustellbevollmächtigten</xs:documentation>
    </xs:annotation>
    <!-- all properties: [drittrecht, partnerId, rollenId, partnerIdExt, sex, kzPartnerArt] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="drittrecht">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="drittrecht" type="pcInFilterDef:DrittrechtPcIn">
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="partnerIdExt" type="xs:string">
        <xs:annotation>
          <xs:documentation>externe Darstellung der Identifikation eines Partners</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sex" type="d0:CVSlvGeschlecht">
        <xs:annotation>
          <xs:documentation>Identifizierender Schlüssel für das Geschlecht einer natürlichen Person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzPartnerArt" type="d0:CVSlvPartnerArt">
        <xs:annotation>
          <xs:documentation>Kennzeichnung, ob es sich um eine juristische oder natürliche Person</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="partnerId" type="xs:int"/>
      <xs:element minOccurs="1" name="rollenId" type="d0:CVSlvPartnerrolle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DrittrechtPcIn">
    <xs:annotation>
      <xs:documentation>Die Rows in Table drittrecht repräsentieren berechtigte Interessen Drittberechtigter (z.B. Vormund, Pfandgläubiger, ...) an einer Leistung aus dem Vertrag. Die Wirksamkeit eines Drittrechts ist abhängig von der Anzeige gegenüber dem VU. Während der Dauer z.B. einer Abtretung gilt die festgelegte Begünstigung nachrangig. Unwiderruflich Begünstigte müssen z.B. einer Abtretung zustimmen.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [unanfechtbarkeit, drittrechtTypId, beginn, drittrechtBez, drittrechtErl, drittrechtTod, rang, drittrechtArtId, kzStSchaedZession, abwHoehe] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="unanfechtbarkeit" type="pcInFilterDef:UnanfechtbarkeitPcIn">
      </xs:element>
      <xs:element minOccurs="0" name="drittrechtTypId" type="d0:CVSlvDrittrecht">
        <xs:annotation>
          <xs:documentation>Identifizierung eines zulässiges Drittrechts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="beginn" type="xs:date">
        <xs:annotation>
          <xs:documentation>Termin, ab dem die Vereinbarung wirksam wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="drittrechtBez" type="xs:string">
        <xs:annotation>
          <xs:documentation>Referenz, auf die sich das Drittrecht bezieht, z.B. Aktenzeichen, Darlehensnummer oder Grundbuchnummer bei einer Hypothekenvergabe o.ä.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="drittrechtErl" type="xs:double">
        <xs:annotation>
          <xs:documentation>Betrag der Drittberechtigung beim Erleben.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="drittrechtTod" type="xs:double">
        <xs:annotation>
          <xs:documentation>Betrag der Drittberechtigung im Todesfall.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="rang" type="xs:int">
        <xs:annotation>
          <xs:documentation>Rangfolge des Drittrechtes, eindeutig innerhalb eines Vertrages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="drittrechtArtId" type="d0:CVSlvDrittrecht">
        <xs:annotation>
          <xs:documentation>Art des Drittrechts</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kzStSchaedZession" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>Kennzeichen, ob eine steuerschädliche Zession vorliegt</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="abwHoehe" type="xs:double">
        <xs:annotation>
          <xs:documentation>Abweichende Höhe der Drittrechtsumme</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="drittrechtId" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UnanfechtbarkeitPcIn">
    <xs:annotation>
      <xs:documentation>Enthält Daten zur Unanfechtbarkeitsklausel</xs:documentation>
    </xs:annotation>
    <!-- all properties: [uaSumme, uaSummeRel, uaVP1, uaVP2, uaErhSumme, vorgUaErhSumme] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="uaSumme" type="xs:double">
        <xs:annotation>
          <xs:documentation>Summe, bis zu der eine Unanfechtbarkeitsklausel gewährt wurde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uaSummeRel" type="xs:double">
        <xs:annotation>
          <xs:documentation>Relative Vorgabe, bis zu der eine Unanfechtbarkeitsklausel gewährt wurde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uaVP1" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>VP1 hat die Unanfechtbarkeitsklausel abgeschlossen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uaVP2" type="d0:CVSlvJaNein">
        <xs:annotation>
          <xs:documentation>VP2 hat die Unanfechtbarkeitsklausel abgeschlossen.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="uaErhSumme" type="xs:double">
        <xs:annotation>
          <xs:documentation>Erhöhungssumme, um die die Unanfechtbarkeitssumme aufgestockt wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vorgUaErhSumme" type="xs:double">
        <xs:annotation>
          <xs:documentation>Vorgabe der Erhöhungssumme, um die die Unanfechtbarkeitssumme aufgestockt wird.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="VpPcIn">
    <xs:annotation>
      <xs:documentation>Versicherte Person.Historie-streng: Attribute, die zur strengen Historienführung am Vertrag benötigt werdenVersicherte-Person: Die versicherte Person ist ein Partner, der durch den Vertragsteil versichert ist und damit die Grundlage für die Risikoprüfung darstellt.</xs:documentation>
    </xs:annotation>
    <!-- all properties: [rollenId, gebDat, partnerIdExt] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="gebDat" type="xs:date">
        <xs:annotation>
          <xs:documentation>Das Geburtsdatum ist der Termin, an dem die natürliche Person geboren wurde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="partnerIdExt" type="xs:string">
        <xs:annotation>
          <xs:documentation>externe Darstellung der Identifikation eines Partners</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="0" name="partnerId" type="xs:int"/>
      <xs:element minOccurs="1" name="rollenId" type="d0:CVSlvPartnerrolle"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ZulageVerlaufPcIn">
    <xs:annotation>
      <xs:documentation>zulageVerlauf</xs:documentation>
    </xs:annotation>
    <!-- all properties: [jahr, zulageAnspruch, gehaltVjDyn, eigenBtgJahr, zulageZahlung, mindestEigenBtg, eigenBtgZw, zulageAnsprEheg, eigenBtgEheg] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="zulageAnspruch" type="xs:double">
        <xs:annotation>
          <xs:documentation>Höhe des vollen Zulagenanspruchs für das Kalenderjahr = Jahr(gueTermin)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gehaltVjDyn" type="xs:double">
        <xs:annotation>
          <xs:documentation>Sozialversicherungspflichtiges Vorjahresgehalt unter Berücksichtigung der Gehaltsdynamik. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgJahr" type="xs:double">
        <xs:annotation>
          <xs:documentation>Gesamter Eigenbeitrag abgegrenzt auf das Kalenderjahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zulageZahlung" type="xs:double">
        <xs:annotation>
          <xs:documentation>Erwartete, ggf. gekürzte Zulagenzahlung im Kalenderjahr unter Berücksichtigung des Mindeseigenbeitrags. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="mindestEigenBtg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Mindesteigenbeitrag abgegrenzt auf das Kalenderjahr</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgZw" type="xs:double">
        <xs:annotation>
          <xs:documentation>Eigenbeitrag pro Zahlweise</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zulageAnsprEheg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Höhe des Zulagenanspruchs des Ehegatten (der bei mittelbarer Zulageberechtigung beim Mindesteigenbeitrag zu berücksichtigen ist) für das Kalenderjahr = Jahr(gueTermin)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eigenBtgEheg" type="xs:double">
        <xs:annotation>
          <xs:documentation>Gesamter Eigenbeitrag des Ehegatten im Kalenderjahr; relevant bei mittelbarer Zulageberechtigung des VN für die Berücksichtigung wegfallender Kinderzulage</xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- id properties -->
      <xs:element minOccurs="1" name="jahr" type="xs:short"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="aktStandPcIn" type="pcInFilterDef:AktStandPcIn"/>
  <xs:complexType name="AktStandPcIn">
    <xs:annotation>
      <xs:documentation>Für einige Vertragsdaten vergibt Life Factory Kunstschlüssel. Die Rows in Table aktStand enthalten jeweils die letzten vergebenen Nummern eines Vertrages:</xs:documentation>
    </xs:annotation>
    <!-- all properties: [genLast, sbIdLast, ktoBewIdLast, zahlEmpfId, ktoBelegIdLast, mahnIdLast, eaKlauselIdLast, schwebeIdLast, regIdLast, kindIdLast, schichtIdLast, regIdBtgLast, tabselbv, sntNwId, prvIdLast] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="genLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Letzte vergebene Generationsnummer am VB</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sbIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Letzte vergebene Kennzeichnung einer Sammelbewegung (=sbId)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ktoBewIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Nummer der letzten durchgefuehrten Kontobewegung</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="zahlEmpfId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Nummer des zuletzt erzeugten Zahlungsempfängers</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="ktoBelegIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>ktoBelegIdLast</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="mahnIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die ID der zuletzt erzeugten Mahnung in einem Vertrag.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="eaKlauselIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene laufende Nummer in eaKlausel (lfdnr).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schwebeIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene Identifikation für Schwebenachweise.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="regIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene laufende Nummer in steuAuftReg</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="kindIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene kindId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="schichtIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene schichtId</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="regIdBtgLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene regIdBtgLast</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tabselbv" type="xs:long">
        <xs:annotation>
          <xs:documentation>Performanceoptimierung: In der Tabelle AKTSTAND wird in einem Bitfeld die Informationen gehalten wird, ob eine Tabelle für diesen Vertrag schon beschreiben wurde. Dadurch kann das Anlesen der Tabelle teilweise enfallen</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sntNwId" type="xs:int">
        <xs:annotation>
          <xs:documentation>Letzte vergebene Identifikation für Schnittstellennachweise</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="prvIdLast" type="xs:int">
        <xs:annotation>
          <xs:documentation>Die letzte vergebene laufende Nummer in prv</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AngDatenVPPcIn">
    <xs:annotation>
      <xs:documentation>Enthält die berechnungsrelevanten Daten der VP für die Angebotsberechnung</xs:documentation>
    </xs:annotation>
    <!-- all properties: [name, vorname, gebDat, sex] -->
    <xs:sequence>
      <!-- xmlId -->
      <!-- no xmlId required -->
      <!-- localKeyEntity -->
      <!-- no localKeyEntity available -->
      <xs:element minOccurs="0" name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>Nachname (VP)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="vorname" type="xs:string">
        <xs:annotation>
          <xs:documentation>Vorrname (VP)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="gebDat" type="xs:date">
        <xs:annotation>
          <xs:documentation>Das Geburtsdatum ist der Termin, an dem die natürliche Person geboren wurde.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sex" type="d0:CVSlvGeschlecht">
        <xs:annotation>
          <xs:documentation>Identifizierender Schlüssel für das Geschlecht einer natürlichen Person.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

</xs:schema>